<p style="font-size: 17px; font-family: Arial; line-height:140%;">Thanks so much for registering a carpool for Bernie!&nbsp;</p>

<p style="font-size: 17px; font-family: Arial; line-height:140%;">As people sign up to your carpool, you&#39;ll receive notifications in your inbox with their contact information so you can follow up with them to make arrangements.&nbsp;</p>

<p style="font-size: 17px; font-family: Arial; line-height:140%;">You can check out your event on the website here: <a href="{{eventURL}}">{{eventURL}}</a>. In particular, double check that your address and the event time are correct.</p>

<p>If you need to change anything, you can <a href="https://go.berniesanders.com/page/event/myevents_login">log in to check your event details</a>. If you didn't have an account at berniesanders.com before registering this event, your email and password are at the top of the email that was first sent to you.</p>

<p style="font-size: 17px; font-family: Arial; line-height:140%;"><span style="line-height:1.6">We&#39;ll also try to have a Bernie staffer or volunteer reach out to you to make sure you have all the info you need about where to go, who&#39;s in your car, and more.&nbsp;</span></p>

<p style="font-size: 17px; font-family: Arial; line-height:140%;">If you have any other questions, just email&nbsp;<a href="mailto:help@berniesanders.com" target="_blank">help@berniesanders.com</a>.</p>

<p style="font-size: 17px; font-family: Arial; line-height:140%;">Thank you so much for volunteering for Bernie.<br />
<br />
Bernie 2016&nbsp;<br />
<a href="mailto:help@berniesanders.com" target="_blank">help@berniesanders.com</a></p>