<p>
  Dear Bernie Volunteer,

  <br/><br/>

  Thank you so much for volunteering to host a phone bank event for Bernie. You are one of the volunteers at the forefront of the political revolution – and that's why we want to help you get ready for your phone bank event!

  <br/><br/>

  Here is a link to view the event:
  {{#each eventIds}}
    <a href="https://go.berniesanders.com/page/event/detail/{{this}}">go.berniesanders.com/page/event/detail/{{this}}</a><br/>
  {{/each}}
</p>

Here's what you need to do to get ready:

<p>
  <b>1. Confirm Your Event</b><br>  

  Please <a href="https://docs.google.com/forms/d/1so6CMnVJZ8PhJZdeMYGpCQvhC_FdA7uHSzyZjB1iq-Y/viewform">click here</a> to confirm that you will be hosting your phone bank event.
</p>

<p>
  If you will not be hosting your phone bank event, or if you would like to change the date/time of your phonebank event, please <a href="https://go.berniesanders.com/page/event/myevents_login">edit your event here</a>.
</p>

<p>
Your username on berniesanders.com is <b>{{user.email}}</b>
{{#if user.password}}
  <br>
  Your temporary password is <b>{{user.password}}</b>
  <br><br>IMPORTANT: Please change your password the first time you log in.
{{/if}}
</p>

<p>
  <b>2. Spread The Word</b>
</p>

<p>
  Now, you have to get other Bernie volunteers to attend your event! Click here to contact other Bernie supporters in your area.
</p>

<p>
  <b>3. Start Calling!</b>
</p>

<p>
  To phone bank for Bernie, you and your fellow volunteers will need a passcode to access voter contact info. <a href="https://docs.google.com/document/d/1VqK_l7oiLeOvH1AHm5jh_JGqv2DGJBSsdUmUPtDxiME/edit">Click here to access the latest passcode for your state</a>.
</p>

<p>
  Then, just visit <a href="www.openvpb.com">www.openvpb.com</a>, type in your code, and start dialing! 
</p>

<p>
  It's that simple.
</p>

<p>
  <b>If you have any questions about phone banking, please email us at <a href="mailto:help@berniesanders.com">help@berniesanders.com</a> – that is the fastest way to reach us.</b>
</p>

<p>
  Alternatively, if you'd like a quick overview of the phone banking, watch our short training video on phone banking. 
</p>

<p>
  Thank you so much for volunteering for Bernie. It is an honor to work alongside you in Bernie's political revolution. 
</p>

- Liam
<br><br>
Bernie 2016
<br>
<a href="mailto:help@berniesanders.com">help@berniesanders.com</a>