{{{ senderMessageHtml }}}

<p style="font-family: Arial; font-size: 17px; line-height: 140%;">---------- Forwarded message ----------<br />
From: {{ hostAddress }}<br />
Subject: {{ hostEmailSubject }}</p>


{{{ hostMessageHtml }}}