<p>
  Hi {{user.name}},
</p>

<p>
  Thanks so much for stepping up to host a canvass event!
  Your canvass event will give other volunteers the opportunity to knock on the doors of supporters and undecided voters.
  We'll provide you with a script, a list of voters that you'll be talking to, and a map of where to go.
  We'll also train you to use your time effectively out in the field.
</p>

<p>
  Please call or stop by one of your local campaign offices so that we can provide you with official campaign 'walk lists' and other resources. You can find the nearest office here:
  <br/>
  <a href="http://map.berniesanders.com/#zipcode={{event.venue_zip}}&distance=50&f%5B%5D=campaign-office">map.berniesanders.com</a>
</p>

<p>
  If you need to make any changes to your event, login here:<br/>
  <a href="https://organize.berniesanders.com/events">organize.berniesanders.com/events</a>
</p>

{{> loginInstructions user=user }}

<p>If you have any trouble logging in, email help@berniesanders.com.</p>

<p>
  Thank you for everything that you do.
  <br/>
  - Team Bernie {{event.venue_state_cd}}
</p>

<hr>

{{> eventPreview event=event eventIds=eventIds }}
