<head>
<style>
div{
font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
font-size: 17px;
line-height:1.4;
color: #364350;
}
a{
color: #147FD7;
}
.express-lane-links .link{
  margin: 0;
}
.express-lane-links .link a{
  font-family: sans-serif;
  font-size: 18px;
  background-color: #147FD7;
  border-top: 1px solid #1e88e0;
  border-bottom: 2px solid #0e72c4;
  width: 290px;
  margin: 12px auto;
  border-radius: 4px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 12px 5px;
  font-weight:700;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
.express-lane-links .link a:hover{
  background-color: #1e88e0;
}
.express-lane-links .link.other a{
  font-size: 17px;
}
</style>
</head>
<h1 style="text-align: center; padding: 25px 0; border: 0; margin: 0;"><img width="200" alt="Bernie Sanders for President" src="https://s.bsd.net/bernie16/main/page/-/logo-2x.png"></h1>
<div style="max-width: 600px; margin: 0 auto;">