<p>
Your username on berniesanders.com is <b>{{user.email}}</b>
{{#if user.password}}
  <br>
  Your password is <b>{{user.password}}</b>
  <br><br>IMPORTANT: Please change your password the first time you log in.
{{/if}}
</p>
