<p>Thank you for volunteering to host an event for Our Revolution! The details of the event you submitted are included below. To manage the events you have created, please visit <a href="https://go.berniesanders.com/page/event/myevents_login">the events page</a>.</p>

{{> loginInstructions user=user }}

<p>If you forget your password, you may reset it <a href="https://go.berniesanders.com/page/user/forgot">here</a>.</p>

<hr>

{{> eventPreview event=event eventIds=eventIds }}
