<p>Thank you for volunteering to host an event for Bernie! The details of the event you submitted are included below. To manage the events you have created, please visit <a href="https://secure.berniesanders.com/page/event/myevents">secure.berniesanders.com/page/event/myevents</a>.</p>

{{> loginInstructions user=user }}

<hr>

{{> eventPreview event=event eventIds=eventIds }}
