<p>Thank you for volunteering to host an event for Our Revolution! The details of the event you submitted are included below. To manage the events you have created, please visit <a href="https://go.berniesanders.com/page/event/myevents_login">the events page</a> and login using the email you used when creating the event. If you can't remember your password or you don't have one, you may <a href="https://go.berniesanders.com/page/user/forgot">request a new password here</a> and a new one will be emailed to you. You will then be able to edit your events through <a href="https://go.berniesanders.com/page/event/myevents_login">the events page</a> using your email and new password.</p>

{{> loginInstructions user=user }}

<hr>

{{> eventPreview event=event eventIds=eventIds }}
