<p>Thank you for volunteering to host an event for Bernie! The details of the event you submitted are included below. To manage the events you have created, please visit <a href="https://organize.berniesanders.com/events">organize.berniesanders.com/events</a>.  Keep in mind that it may take up to an hour for brand new events to show up in your events dashboard.</p>

{{> loginInstructions user=user }}

<hr>

{{> eventPreview event=event eventIds=eventIds }}
