<!doctype html>
<html lang="en">
  <head>
    <title>Ground Control</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="//berniesanders.com/wp-content/themes/berniesanders2016/favicon.ico">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='../stylesheets/fixed-data-table.min.css' />
    <script type="text/javascript">
      // Init autocomplete function
      window.initAutocomplete = function() {}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzu1FR7mpcDYkQdHctmAe2DZSy05XmYcU&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
    <script src='//use.typekit.net/vga4irg.js'>
    </script>
    <script>
      try{Typekit.load();}catch(e){}
    </script>
    <style>
    * {
      margin: 0px;
      padding: 0px;
    }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript">
      // Force `fetch` polyfill to workaround Chrome not displaying request body
      // in developer tools for the native `fetch`.
      self.fetch = null;
    </script>
    {{{ extra_head }}}
    <script src="/js/app.js"></script>
  </body>
</html>
